/* ---------------- CLIENTS SECTION ---------------- */

.clients {
  text-align: center;
  padding: 80px 10%;
  background-color: #ffffff;
}

.clients h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
}

.clients p {
  color: #777;
  font-size: 1rem;
  margin-bottom: 40px;
}

/* Logo Boxes */
.client-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.client-box img{
  width: 100px;
  height: 50px;
  /* background-color: #000; */
  border-radius: 6px;
  opacity: 0.85;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.client-box:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* ---------------- RESPONSIVE ---------------- */
@media (max-width: 768px) {
  .client-logos {
    gap: 20px;
  }

  .client-box {
    width: 80px;
    height: 40px;
  }
}
