.community-section {
  text-align: center;
  background-color: #f8f9fa;
  padding: 80px 0;
  font-family: Arial, sans-serif;
}

.community-header h2 {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

.community-header h3 {
  font-size: 24px;
  color: #555;
  margin-bottom: 10px;
}

.community-header p {
  color: #888;
  font-size: 16px;
  margin-bottom: 40px;
}

.community-cards {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 25px;
  width: 280px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-img img{
  width: 80px;
  height: 80px;
  /* background-color: #000; */
  border-radius: 50%;
  margin: 0 auto 20px auto;
}

.card h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
}
