.helping-section {
  background-color: #f8f9fa;
  padding: 100px 0;
  font-family: Arial, sans-serif;
}

.helping-container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* Left image box */
.helping-content {
  width: 400px;
  height: 320px;
  /* background-color: #000; */
  border-radius: 10px;
  flex-shrink: 0;
}

.helping-text {
  display: flex;
  justify-content: space-between;
  /* border: solid black 2px; */
  
}
.helping-left {
    width: 50%;
    font-size: large;

}
.helping-left span {
    color: #2e7d32;
    font-weight: 600;

}
.helping-left p {
    margin-top: 15px;
    color: #444;
    font-size: small;
    
}

.helping-content {
  max-width: 600px;
}

.helping-content h2 {
  font-size: 28px;
  color: #2e7d32;
  font-weight: 600;
  margin-bottom: 10px;
}

.helping-content p {
  font-size: 16px;
  color: #444;
  margin-bottom: 40px;
}

/* Stats section */
.helping-stats {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  /* column-gap: 30px; */
  row-gap: 50px;
  width: 50%;
}

.stat-item {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  min-width: 230px;
}

.stat-icon img{
  width: 40px;
  height: 40px;
  /* background-color: #000; */
  border-radius: 50%;
}

.stat-item h3 {
  font-size: 20px;
  font-weight: 700;
  color: #1b5e20;
  margin-bottom: 3px;
}

.stat-item p {
  color: #666;
  font-size: 14px;
}
