.unseen-section {
  background-color: #ffffff;
  padding: 100px 0;
  font-family: Arial, sans-serif;
}

.unseen-container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.unseen-image img{
  width: 400px;
  height: 300px;
  /* background-color: #000; */
  border-radius: 10px;
  flex-shrink: 0;
}

.unseen-content {
  max-width: 600px;
}

.unseen-content h2 {
  font-size: 28px;
  color: #333;
  font-weight: 600;
  margin-bottom: 20px;
}

.unseen-content p {
  font-size: 16px;
  color: #666;
  line-height: 1.7;
  margin-bottom: 25px;
}

.learn-more-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.learn-more-btn:hover {
  background-color: #43a047;
}
